/* CSS PAGE INDEX */
.img {
    width: 4rem;
    height: auto;
    margin-left: 0.5rem;
    display: inline-block;
}
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem; 
}

.card {
    width: 15rem;
}

.containerThree {
    width: auto; 
    display: flex; 
    justify-content: space-between; 
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.6);
    padding: 1rem;
    align-items: center;
    margin-bottom: 1rem; 
}

.card {
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn {
    width: 100%;
    margin: 0.5rem auto;
}


/* CSS PAGE TOUTE LA COLLECTION */

#products {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; /* Espacement entre les éléments */
}

#products>div {
    background-color: black;
    color: white;
    margin: 2rem;
    text-align: left;
}

#products>div>div>img {
    height: 20rem;
    width: auto;
}


/* CSS PANIER */

.scrollbar {
    overflow-y: auto;
    /* Active la scrollbar si le contenu dépasse la hauteur */
}


.scrollbar::-webkit-scrollbar {
    width: 9px;
    background-color: #959494;
    border: 2px solid #555555;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #494747;
}

/* CSS PAGE DESCRIPTION UN LIVRE */

#containerForDetails>div {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.6);
    display: flex;
    width: 80%;
    margin: 2rem auto 0 auto;
    padding: 1rem;
}

#containerForDetails>div>div.card-description>h5 {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

#containerForDetails>div>div.card-description>p.card-price {
    font-weight: bold;
}

#containerForDetails>div>div.card-image>img {
    width: 20rem;
    height: auto;
    padding: 10px;
}

/* CSS FILTRE */

#productsFiltered1 {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
}

#productsFiltered1>div {
    width: 18rem; 
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.6);
    padding: 1rem;
    align-items: center;
    margin-bottom: 1rem; 
}

#productsFiltered1 > div > img {
    width: 100%; 
    height: auto;
}

#productsFiltered2 {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
}

#productsFiltered2>div {
    width: 18rem; 
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.6);
    padding: 1rem;
    align-items: center;
    margin-bottom: 1rem; 
}

#productsFiltered2 > div > img {
    width: 100%; 
    height: auto;
}

#productsFiltered3 {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
}

#productsFiltered3>div {
    width: 18rem; 
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.6);
    padding: 1rem;
    align-items: center;
    margin-bottom: 1rem; 
}

#productsFiltered3 > div > img {
    width: 100%; 
    height: auto;
}

/* SCROLLBAR PERSONNALISEE */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #c4c2c0;
  }
  
  ::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
	background-color: #878686;
    border: 2px solid #4a4a4a;

	background-image: -webkit-linear-gradient(90deg,
											  transparent,
											  rgba(0, 0, 0, 0.4) 50%,
											  transparent,
											  transparent)
}
  