/* CSS PAGE INDEX */
.img {
    width: 4rem;
    height: auto;
    margin-left: 0.5rem;
    display: inline-block;
}


/* CSS PAGE TOUTE LA COLLECTION */

#products {
    display: flex;
    flex-wrap: wrap;
}

#products>div {
    background-color: black;
    color: white;
    margin: 2rem;
    text-align: left;
}

#products>div>div>img {
    height: 20rem;
    width: auto;
}


/* CSS PANIER */

.scrollbar {
    overflow-y: auto; /* Active la scrollbar si le contenu dépasse la hauteur */
}


.scrollbar::-webkit-scrollbar
{
	width: 9px;
	background-color: #959494;
    border: 2px solid #555555;
}

.scrollbar::-webkit-scrollbar-thumb
{
	background-color: #494747;
}

/* CSS PAGE DESCRIPTION UN LIVRE */

#containerForDetails > div{
    display: flex;
    flex-direction:row;
}
#containerForDetails > div > div.card-description > h5 {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

#containerForDetails > div > div.card-description > p.card-price {
    font-weight: bold;
}

#containerForDetails > div > div.card-image > img {
    width: 20rem;
    height: auto;
}